



md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
  background-color: @blue;
}


md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
  color: @blue;
}

md-checkbox.md-default-theme.md-checked.md-focused .md-container:before,
md-checkbox.md-checked .md-container:before,
md-checkbox.md-checked.md-focused .md-container:before {
  background-color: rgba(0, 121, 200, 0.4) !important;
}
