

md-toast {
  padding: 0;
  //position: fixed;
  //position: absolute;
  bottom: 0;
  width: 100%;
  background-color: @dark-blue;

  .md-toast-content {
    width: 100%;
    max-width: 100%;
    margin: 0 18px;

    padding: 0;
  }
}
md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
  background-color: @dark-blue;
  border-radius: 0;
  box-shadow: none;
}

md-toast.ng-leave {

}
md-toast.ng-leave.ng-leave-active {
  opacity: 0;
}
